<h1>All Students</h1>

<% @students.each do |student| %>
  <section class= "students">
    <section id= 'student-<%=student.id%>'>
      <%= student.name %>
      <%= student.age %>
      <%= student.house %>
    </section>
  </section>
<% end %>

<p>Average age: <%= @students.average_age %></p>
